# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/whatsup/node_modules
/.pnp
.pnp.js
.vscode

# testing
/whatsup/coverage

# production
/whatsup/build

# misc
/whatsup/.DS_Store
/whatsup/.env.local
/whatsup/.env.development.local
/whatsup/.env.test.local
/whatsup/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
